/AlimentacionSaludable/dist/
/AlimentacionSaludable/build/
/AlimentacionSaludable/build/test/
/AlimentacionSaludable/Sistema.data/
/AlimentacionSaludable/nbproject/private/private.xml
/AlimentacionSaludableEjecutable/Sistema.data/

